# Distribution / packaging
lib/
lib64/

# Environments
settings.ini/
.env
.venv
env/
venv/
ENV/
pyvenv.cfg

# Byte-compiled / optimized / DLL files
__pycache__/

# App Data
uploads/

# Environments
chatbubble/.env
chatbubble/settings.ini